{% extends "network/index.html" %}

{% block page %}

    <div class="row">
        <div class="col d-flex justify-content-right">
            <h5>User: {{ request.user.username }} </h5>
        </div>  
        <div class="col d-flex justify-content-center">
            <a href="{% url 'followingView' %}">
                <h5>Following: {{ following }} </h5>
            </a>
        </div>
        <div class="col d-flex justify-content-end">
            <h5>Followers: {{ follower }} </h5>
        </div>
    </div>
    <hr>

{% endblock %}