.text-height{
    height: 75px !important;
}

.btn-link{
    border: none !important;
}

.btn-link:hover{
    background-color: none !important;
    text-decoration: none !important;
    background: none !important;
}

.fa-heart-o{
    color:red !important;
}

.fa-heart{
    color:red !important;
}